/* Color Theme Swatches in Hex */
.RN-Óleo-1-hex { color: #26B0F0; }
.RN-Óleo-2-hex { color: #149116; }
.RN-Óleo-3-hex { color: #FAA103; }
.RN-Óleo-4-hex { color: #89BF57; }
.RN-Óleo-5-hex { color: #0F2738; }

/* Color Theme Swatches in RGBA */
.RN-Óleo-1-rgba { color: rgba(38, 175, 239, 1); }
.RN-Óleo-2-rgba { color: #149015; }
.RN-Óleo-3-rgba { color: #f9a102; }
.RN-Óleo-4-rgba { color: #89bf56; }
.RN-Óleo-5-rgba { color: #0e2638; }

/* Color Theme Swatches in HSLA */
.RN-Óleo-1-hsla { color: hsla(0, 87, 54, 1); }
.RN-Óleo-2-hsla { color: hsla(0, 75, 32, 1); }
.RN-Óleo-3-hsla { color: hsla(0, 97, 49, 1); }
.RN-Óleo-4-hsla { color: hsla(0, 44, 54, 1); }
.RN-Óleo-5-hsla { color: hsla(0, 57, 13, 1); }

/* another suggestion */
/* Color Theme Swatches in Hex */
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--1-hex { color: #47A603; }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--2-hex { color: #EBF2DC; }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--3-hex { color: #BCD955; }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--4-hex { color: #CFD984; }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--5-hex { color: #8C3503; }

/* Color Theme Swatches in RGBA */
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--1-rgba { color: rgba(70, 165, 3, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--2-rgba { color: rgba(235, 242, 220, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--3-rgba { color: rgba(188, 216, 84, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--4-rgba { color: rgba(206, 216, 132, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--5-rgba { color: rgba(140, 53, 2, 1); }

/* Color Theme Swatches in HSLA */
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--1-hsla { color: hsla(95, 96, 33, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--2-hsla { color: hsla(78, 46, 90, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--3-hsla { color: hsla(73, 63, 59, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--4-hsla { color: hsla(67, 52, 68, 1); }
.Herbal-essence.-Alternative-healthy-medicine.-Skin-care.-Essential-oil-or-water-dropping-from-fresh-leaf-to-the-bottle.--5-hsla { color: hsla(22, 96, 28, 1); }


/* 3ª Color Theme Swatches in Hex */
.Abstract-background-with-oil-drops-on-water-1-hex { color: #03658C; }
.Abstract-background-with-oil-drops-on-water-2-hex { color: #049DBF; }
.Abstract-background-with-oil-drops-on-water-3-hex { color: #F2CE16; }
.Abstract-background-with-oil-drops-on-water-4-hex { color: #F2B807; }
.Abstract-background-with-oil-drops-on-water-5-hex { color: #BF7E04; }

/* Color Theme Swatches in RGBA */
.Abstract-background-with-oil-drops-on-water-1-rgba { color: rgba(2, 101, 140, 1); }
.Abstract-background-with-oil-drops-on-water-2-rgba { color: rgba(3, 156, 191, 1); }
.Abstract-background-with-oil-drops-on-water-3-rgba { color: rgba(242, 205, 21, 1); }
.Abstract-background-with-oil-drops-on-water-4-rgba { color: rgba(242, 183, 7, 1); }
.Abstract-background-with-oil-drops-on-water-5-rgba { color: rgba(191, 125, 3, 1); }

/* Color Theme Swatches in HSLA */
.Abstract-background-with-oil-drops-on-water-1-hsla { color: hsla(196, 96, 28, 1); }
.Abstract-background-with-oil-drops-on-water-2-hsla { color: hsla(191, 96, 38, 1); }
.Abstract-background-with-oil-drops-on-water-3-hsla { color: hsla(50, 89, 51, 1); }
.Abstract-background-with-oil-drops-on-water-4-hsla { color: hsla(45, 94, 48, 1); }
.Abstract-background-with-oil-drops-on-water-5-hsla { color: hsla(39, 96, 38, 1); }
